$browser-default-font-size:75;

@function px2rem($px) {
    @return $px / $browser-default-font-size * 1rem;
}

@mixin font-dpr($font-size) {
    font-size: $font-size * 0.5px;
    [data-dpr="2"] & {
        font-size: $font-size * 1px;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 1.5px;
    }
}
@mixin border-1px($width){
    border-width: $width * 0.5px !important;
    [data-dpr="2"] & {
        border-width: $width * 1px !important;
    }
    [data-dpr="3"] & {
        border-width: $width * 1.5px !important;
    }
}

@mixin bg-image($url){
    background-image:url($url+"@2x.png");
    @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3){
        background-image:url($url+"@3x.png");
    }
}

// clearfix
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

// CSS image replacement
@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// 背景图片地址和大小
@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

//定位全屏
@mixin allcover{
	position:absolute;
	top:0;
	right:0;
}

//定位上下左右居中
@mixin center {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}